<!-- about section start -->
<div class="about_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="about_taital">About Our shop</h1>
        <div class="bulit_icon"><img src="assets/bulit-icon.png" /></div>
      </div>
    </div>
    <div class="about_section_2 layout_padding">
      <div class="image_iman">
        <img src="assets/about-img.png" class="about_img" />
      </div>
      <div class="about_taital_box">
        <h1 class="about_taital_1">Coffee distribution '</h1>
        <p class="about_text">
          Everyone has their favorite coffee shop. Maybe it’s conveniently
          located, or just has great coffee. In any case, most of us have that
          one place we patronize each time we need a jolt of caffeine. As the
          owner of a coffee shop, you have a very important task. You have to
          promote your coffee shop in a way that motivates potential customers
          to give your place a try. To get started, check out these unique
          ideas.
        </p>
        <div class="readmore_btn">
          <a href="https://www.cafecoffeeday.com/">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- about section end -->
