<!-- footer section start -->
<div class="footer_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="address_text">Address</h1>
        <p class="footer_text">
          Thanks For Using CCD <br />358, Smriti Nagar <br />Indore - 452005
          (M.P.)
        </p>
        <div class="location_text">
          <ul>
            <li>
              <a href="#">
                <i class="fa fa-phone" aria-hidden="true"></i
                ><span class="padding_left_10">+91-8305040701</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-envelope" aria-hidden="true"></i
                ><span class="padding_left_10">chouhanankit358@gmail.com</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- footer section end -->
<!-- copyright section start -->
<div class="copyright_section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <p class="copyright_text">
          2023 All Rights Reserved. Design by CCD
          <a href="https://html.design">Cafe Coffee Day</a>
        </p>
      </div>
      <div class="col-lg-6 col-sm-12">
        <div class="footer_social_icon">
          <ul>
            <li>
              <a
                href="https://r.search.yahoo.com/_ylt=Awrx_7CZLh1lYD0OlQ67HAx.;_ylu=Y29sbwNzZzMEcG9zAzEEdnRpZAMEc2VjA3Ny/RV=2/RE=1696440090/RO=10/RU=https%3a%2f%2fwww.facebook.com%2flogin.php/RK=2/RS=W4wd1prBiPkydZMuftHamgHqeQI-"
                ><i class="fab fa-facebook" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a
                href="https://r.search.yahoo.com/_ylt=Awr1QRL0Lh1lqLUNrqq7HAx.;_ylu=Y29sbwNzZzMEcG9zAzEEdnRpZAMEc2VjA3Ny/RV=2/RE=1696440181/RO=10/RU=https%3a%2f%2ftwitter.com%2f%3flang%3den-in/RK=2/RS=fzQAFj2OReUYsDXpqP1h3RcVVoQ-"
                ><i class="fab fa-twitter" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a
                href="https://in.linkedin.com/?original_referer=https%3A%2F%2Fwww.google.co.in%2F"
                ><i class="fab fa-linkedin" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a
                href="https://r.search.yahoo.com/_ylt=AwrKFYKMLx1luv8NBHq7HAx.;_ylu=Y29sbwNzZzMEcG9zAzEEdnRpZAMEc2VjA3Ny/RV=2/RE=1696440332/RO=10/RU=https%3a%2f%2fwww.instagram.com%2f%3fhl%3den/RK=2/RS=O41RGe2ooULnMgUlSrc3i4fXHuc-"
                ><i class="fab fa-instagram" aria-hidden="true"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- copyright section end -->
