<div class="product-opratiton cart-back">
  <h1>Product Oparations</h1>
  <div class="product-opratiton-inner" align="center">
    <a
      routerLink="/addproduct"
      routerLinkActive="active"
      style="background-color: blue"
      >Add Product</a
    >
    <a
      routerLink="/deleteproduct"
      routerLinkActive="active"
      style="background-color: red"
      >Delete Product</a
    >
    <a
      routerLink="/viewproduct"
      routerLinkActive="active"
      style="background-color: gold"
      >View Product List</a
    >
    <a
      routerLink="/updateproduct"
      routerLinkActive="active"
      style="background-color: green"
      >Update Product</a
    >
  </div>
</div>
