<!-- blog section start -->
<div class="blog_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="about_taital">Our Blog</h1>
        <div class="bulit_icon"><img src="assets/bulit-icon.png" /></div>
      </div>
    </div>
    <div class="blog_section_2">
      <div class="row">
        <div class="col-md-6">
          <div class="blog_box">
            <div class="blog_img"><img src="assets/blog-img1.png" /></div>
            <h4 class="date_text">05 AUG</h4>
            <h4 class="prep_text">SIMPLE COFFEE W/O FANCY OR EXP. EQUIPMENT</h4>
            <p class="lorem_text">
              Sometimes we find ourselves in a tricky situation: urgently need
              coffee but have no brewing tools in hand. No worries, there are
              some simple ways to brew coffee! Here are some tips for how to
              make simple coffee without a brewer at home or for example in
              woods.
            </p>
          </div>
          <div class="read_bt">
            <a href="https://www.cafecoffeeday.com/">Read More</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="blog_box">
            <div class="blog_img"><img src="assets/blog-img2.png" /></div>
            <h4 class="date_text">30 SEP</h4>
            <h4 class="prep_text">HOW TO POUR A SWAN</h4>
            <p class="lorem_text">
              Swan definitely isn't the first latte art pattern for barista's to
              start their latte art career with. Swan requires a few different
              techniques used in other latte art patterns but once you nail
              those, the swan is pretty simple to pour. Here is my guide how to
              pour a latte art swan.
            </p>
          </div>
          <div class="read_bt">
            <a href="https://www.cafecoffeeday.com/">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- blog section end -->
